.Button {
    padding: 8px;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Enable hover effects for non-touch devices */
@media (hover: hover) {
    .Button:hover {
        cursor: pointer;
        opacity: 1.5;
        transform: scale(1.1);
    }
}


