/* Container which involves text exchange between ChatBot and Client */
.Chat {
    flex: 1;
    background-color: #252525;
    padding: 24px 6%;
    overflow-y: scroll;
}

/* Chat scrollbar */
.Chat::-webkit-scrollbar {
    width: 0;
}