/* Lists */
ul, ol {
    margin-left: 24px;
}

/* Targets "Greeting" component list */
li{
    font-weight: bold;
    margin-bottom: 4px;
}

/* Targets lists for chatbot responses */
p li{
    font-weight: initial;
}