/* Container that surronds input field and send button */
.InputField {
    height: 75%;
    background-color: #353535;
    border-radius: 8px;
    display: flex;
}

/* Targets Client's input field */
#userInput {
    width: 98% !important;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: #ECECEC;
    outline: none;
}

/* Disabled class for input field and button */
.Disabled{
    pointer-events: none;
    opacity: 0.6;
}