/* Container that includes all login elements, user icon, input fields, and "LoginButton" */
.LoginContainer{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

/* Outer container used for input fields in the login screen to make styling easier */
.FieldContainer{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    overflow: hidden;
}

.FieldContainer input{
    margin-left: 16px;
    color: #ECECEC;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.FieldContainer input::placeholder{
    color: #b9b9b9;
}

.LoginButton{
    width: 90%;
    font-size: 16px;
    height: 56px;
    border-radius: 16px;
    margin-top: 28px;
    background-color: #1277FD;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/* Shake animation when credentials are incorrect */
@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

/* Error class */
.shake {
    animation: shake 1.5s ease-in-out;
    outline: 1px solid red;
}


