@import url('components/reset.css');
@import url('components/font.css');

.App {
    height: 100svh;
    width: 100vw;
    background: linear-gradient(45deg, #353535, #454545);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Hebrew Regular', sans-serif;
}

